[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.9.5'

[packages]
multimethod = "*"
mugimugi_client_api = { git = "https://github.com/JeanMarc-Moly/mugimugi_client_api.git" }
mugimugi_client_api_entity = { git = "https://github.com/JeanMarc-Moly/mugimugi_client_api_entity.git" }

[pipenv]
allow_prereleases = true

[dev-packages]
ipython = "*"
pylint = "*"
black = "*"
isort = "*"
mypy = "*"
pipenv-setup = "*"
python-dotenv = "*"
loguru = "*"
ipykernel = "*"

[scripts]
install_dev = 'bash script/install_dev.sh'
format = 'bash script/format.sh'
upgrade = 'bash script/upgrade.sh'
check = 'bash script/check.sh'
test = 'python -m unittest discover test'
bump = 'python script/bump_version.py'
